<!DOCTYPE HTML>
<html>
<head>
  <title>Guitar Demo</title>
  <link rel='stylesheet' type='text/css' href='public/css/bootstrap.min.css'>
  <link rel='stylesheet' type='text/css' href='public/css/font-awesome.min.css'>
  <link rel='stylesheet' type='text/css' href='public/css/application.css'>

  <script src='public/js/angular.min.js'></script>
  <script src='public/js/jquery-2.0.3.min.js'></script>
  <script src='public/js/bootstrap.min.js'></script>
  <script src='public/js/application.js'></script>
  <script src='public/js/chords.js'></script>
</head>

<body>

  <div class='container' ng-app='guitarApp' ng-controller='ChordCtrl'>

    <h1>Build a Tab!</h1>

    <div class='row'>
      <form class='chord-builder-form col-md-2' ng-model='inputForm.inputForm' ng-submit='lookupChordTab()'>
        <div class='form-group'>
          <label class='control-label'>Chord:</label>
          <input class='form-control' ng-change='lookupChordTab()' ng-model='inputForm.chordInput' maxlength='6'></input>
        </div>
      </form>

      <form class='individual-notes-form col-md-2 form-horizontal' ng-model='inputForm.inputForm' ng-submit='lookupChordTab()'>
        <label class='control-label'>
          <span ng-hide='edit'>Strings:</span>
          <span class='edit-input' ng-show='edit'>EDIT!!!</span>
        </label>

        <div class='form-group'>
          <label class="col-md-1 control-label">e:</label>
          <div class='col-md-5'>
            <input class="form-control" type="text" ng-model="inputForm.stringInput[5]" maxlength='2'></input>
          </div>
        </div>
        <div class='form-group'>
          <label class="col-md-1 control-label">B:</label>
          <div class='col-md-5'>
            <input class="form-control" type="text" ng-model="inputForm.stringInput[4]" maxlength='2'></input>
          </div>
        </div>
        <div class='form-group'>
          <label class="col-md-1 control-label">G:</label>
          <div class='col-md-5'>
            <input class="form-control" type="text" ng-model="inputForm.stringInput[3]" maxlength='2'></input>
          </div>
        </div>
        <div class='form-group'>
          <label class="col-md-1 control-label">D:</label>
          <div class='col-md-5'>
            <input class="form-control" type="text" ng-model="inputForm.stringInput[2]" maxlength='2'></input>
          </div>
        </div>
        <div class='form-group'>
          <label class="col-md-1 control-label">A:</label>
          <div class='col-md-5'>
            <input class="form-control" type="text" ng-model="inputForm.stringInput[1]" maxlength='2'></input>
          </div>
        </div>
        <div class='form-group'>
          <label class="col-md-1 control-label">E:</label>
          <div class='col-md-5'>
            <input class="form-control" type="text" ng-model="inputForm.stringInput[0]" maxlength='2'></input>
          </div>
        </div>
      </form>

      <div class="input-buttons col-md-3">
        <form class="col-md-12">
          <div class='form-group'>
            <button class='btn btn-default' ng-click="addTab('chord')">Add Tab!</button>
            <label>(Enter)</label>
          </div>

          <div class='form-group'>
            <button class='btn btn-default' ng-click="addTab('break')">Add Break!</button>
            <input class="break-ct" min='0' max='30' type="number" value="2" ng-model="breakCt" maxlength="2">
            <label>Count</label>
          </div>

          <div class='form-group'>
            <button class='btn btn-default' ng-click="addTab('measure')">Add Measure!</button>
            <label>(Shift-M)</label>
          </div>

          <div class='form-group'>
            <button class='btn btn-default' ng-click="resetAll()">Reset!</button>
          </div>

        </form>
      </div>
      <div class='filtered-chords col-md-5'>
        <span ng-show='inputForm.chordInput'>Possible Chords: {{(chordLib | filter:inputForm.chordInput).length}}</span>
        <table class='table table-bordered'>
          <thead>
            <th>Name</th>
            <th>Chord</th>
          </thead>
          <tbody>
            <tr ng-click='updateChord(match)' ng-show='inputForm.chordInput' ng-repeat='match in chordLib | filter:inputForm.chordInput'>
              <td>{{match.name}}</td>
              <td class='chord'>{{match.tab.join(' ')}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="tab-body">
      <div class='note-stem'>
        <ul id='base-notes'>
          <li>&nbsp;</li>
          <li>e|--</li>
          <li>B|--</li>
          <li>G|--</li>
          <li>D|--</li>
          <li>A|--</li>
          <li>E|--</li>
        </ul>
      </div>

      <div class="tab-notes">
        <ul class="user-tab" ng-repeat='tab in tabs'>
          <li>{{tab.name}}</li>
          <li>{{tab.notes[0]}}</li>
          <li>{{tab.notes[1]}}</li>
          <li>{{tab.notes[2]}}</li>
          <li>{{tab.notes[3]}}</li>
          <li>{{tab.notes[4]}}</li>
          <li>{{tab.notes[5]}}</li>
          <li>
            <ul class='edit-icons'>
              <li class='note-insert' ng-click='insertTab();' title="Insert Chord"></li>
              <li class='note-edit'   ng-click='noteEdit()' title="Edit Chord"></li>
              <li class='note-delete' ng-click='deleteTab();' title="Delete Chord"></li>
            </ul>
          </li>
          <li class='cxl-edit' ng-show="edit" ng-click='edit = false' title="Cancel Edit"></li>
        </ul>
      </div>
    </div>
  </div>

</body>
</html>
