<!DOCTYPE HTML>
<html>
<head>
  <title>Guitar Demo</title>
  <link rel='stylesheet' type='text/css' href='public/css/bootstrap.min.css'>
  <link rel='stylesheet' type='text/css' href='public/css/font-awesome.min.css'>
  <link rel='stylesheet' type='text/css' href='public/css/application.css'>

  <script src='public/js/angular.min.js'></script>
  <script src='public/js/jquery-2.0.3.min.js'></script>
  <script src='public/js/bootstrap.min.js'></script>
  <script src='public/js/application.js'></script>
  <script src='public/js/chords.js'></script>
</head>

<body>

  <div class='container' ng-app='guitarApp' ng-controller='ChordCtrl' ng-keypress='pressEnter($event)'>

    <h1>Build a Tab!</h1>

    <div class='row'>
      <form class='chord-builder-form col-md-2' ng-model='inputForm.inputForm' ng-submit='lookupChord()'>
        <div class='form-group'>
          <label class='control-label'>Chord:</label>
          <input class='form-control' id='chord-input' ng-change='lookupChord()' ng-model='inputForm.chordInput' maxlength='6'></input>
        </div>

        <div class='form-group'>
          <label class='control-label'>Strings:</label>
          <input class='form-control' id='chord-input' ng-model='inputForm.stringNumbers' maxlength='6'></input>
        </div>

        <div class='form-group'>
          <label class='control-label'>Frets:</label>
          <input class='form-control' id='chord-input' ng-model='inputForm.fretNumbers' maxlength='6'></input>
        </div>
        <button class='btn btn-default' ng-click='buildRawTab()'>Submit</button>
      </form>

      <form class='individual-notes-form col-md-2 form-horizontal' ng-model='inputForm.inputForm' ng-submit='lookupChord()'>
        <label>
          <span ng-hide='edit'>Strings:</span>
          <span class='edit-input' ng-show='edit'>EDIT!!!</span>
        </label>

        <div class='form-group'>
          <label class="col-md-1 control-label">e:</label>
          <div class='col-md-6'>
            <input class="form-control" type="text" ng-model="inputForm.stringInput[5]" maxlength='2'></input>
          </div>
        </div>
        <div class='form-group'>
          <label class="col-md-1 control-label">B:</label>
          <div class='col-md-6'>
            <input class="form-control" type="text" ng-model="inputForm.stringInput[4]" maxlength='2'></input>
          </div>
        </div>
        <div class='form-group'>
          <label class="col-md-1 control-label">G:</label>
          <div class='col-md-6'>
            <input class="form-control" type="text" ng-model="inputForm.stringInput[3]" maxlength='2'></input>
          </div>
        </div>
        <div class='form-group'>
          <label class="col-md-1 control-label">D:</label>
          <div class='col-md-6'>
            <input class="form-control" type="text" ng-model="inputForm.stringInput[2]" maxlength='2'></input>
          </div>
        </div>
        <div class='form-group'>
          <label class="col-md-1 control-label">A:</label>
          <div class='col-md-6'>
            <input class="form-control" type="text" ng-model="inputForm.stringInput[1]" maxlength='2'></input>
          </div>
        </div>
        <div class='form-group'>
          <label class="col-md-1 control-label">E:</label>
          <div class='col-md-6'>
            <input class="form-control" type="text" ng-model="inputForm.stringInput[0]" maxlength='2'></input>
          </div>
        </div>
      </form>

      <div class="input-buttons col-md-3">
        <div class='form-group'>
          <button ng-hide='edit' class='btn btn-default' ng-click="addTab()">Add Tab!</button>
          <button ng-show='edit' class='btn btn-warning' ng-click="saveEditTab()">SAVE EDIT!</button>
        </div>

        <div class='break-ct form-group form-inline'>
          <button class='btn btn-default' ng-click="addMeasure()">Add Break!</button>
          <input class="form-control" min='0' max='30' type="number" placeholder='Count' value="2" ng-model="inputForm.breakCt" maxlength="2">
        </div>

        <div class='form-group'>
          <button class='btn btn-default' ng-click="resetAll()">Reset!</button>
        </div>
      </div>

      <div class='filtered-chords col-md-5'>
        <table class='table table-bordered'>
          <thead>
            <th>Name <span ng-show='inputForm.chordInput'>({{(chordLib | filter:inputForm.chordInput).length}} Found)</span></th>
            <th>Chord</th>
          </thead>
          <tbody>
            <tr ng-click='clickedFilteredChord(match)' ng-show='inputForm.chordInput' ng-repeat='match in chordLib | filter:inputForm.chordInput'>
              <td class='col-md-6'>{{match.name}}</td>
              <td class='col-md-6 chord'>{{match.tab.join(' ')}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="tab-body">

      <div class="tab-notes">
        <ul class="user-tab">
          <li>&nbsp;</li>
          <li>e|</li>
          <li>B|</li>
          <li>G|</li>
          <li>D|</li>
          <li>A|</li>
          <li>E|</li>
        </ul>

        <ul class="user-tab" ng-repeat='tab in tabs'>
          <li>{{printSpacing(tab.breakCt, '&nbsp;')}}{{tab.chordInput}}</li>
          <li>{{printSpacing(tab.breakCt)}}{{tab.stringInput[0]}}</li>
          <li>{{printSpacing(tab.breakCt)}}{{tab.stringInput[1]}}</li>
          <li>{{printSpacing(tab.breakCt)}}{{tab.stringInput[2]}}</li>
          <li>{{printSpacing(tab.breakCt)}}{{tab.stringInput[3]}}</li>
          <li>{{printSpacing(tab.breakCt)}}{{tab.stringInput[4]}}</li>
          <li>{{printSpacing(tab.breakCt)}}{{tab.stringInput[5]}}</li>
          <li>
            <ul class='edit-icons'>
              <!-- <li class='note-insert' ng-click='insertTab();' title="Insert Chord"></li> -->
              <li class='note-edit'   ng-click='editTab()' title="Edit Chord"></li>
              <li class='note-delete' ng-click='deleteTab();' title="Delete Chord"></li>
              <li class='note-measure-up' ng-click='editMeasure(1);' title="Increase Measure"></li>
              <li class='note-measure-down' ng-click='editMeasure(0);' title="Decrease Measure"></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>

</body>
</html>
