<!DOCTYPE HTML>
<html>
<head>
  <title>Guitar Demo</title>
  <link rel="stylesheet" type="text/css" href="public/css/application.css">
  <link rel="stylesheet" type="text/css" href="public/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="public/css/font-awesome.min.css">

  <script src="public/js/angular.min.js"></script>
  <script src="public/js/jquery-2.0.3.min.js"></script>
  <script src="public/js/application.js"></script>
  <script src="public/js/chords.js"></script>
</head>

<body>

  <div ng-app="guitarApp">
    <div class="container row-fluid" ng-controller="ChordCtrl">

      <div class="search col-md-2">
        <label>Chord Search</label><br>
        <table>
          <tr>
            <td width="60px">Name:</td>
            <td>Chord:</td>
          </tr>
          <tr ng-repeat="chord in chordLib.tabs | filter:chord">
            <td width="60px">{{chord.name}}</td>
            <td>{{chord.tab}}</td>
          </tr>
        </table>
      </div>

      <div class="tab-build col-md-9">
        <h1>Build a Tab!</h1>

        <div class="tab-input row">
          <div class="col-md-2">
            <label class="str-name">Chord:</label><br>
            <input class="chord-input" ng-keypress='pressEnter($event)' ng-model="chord" maxlength="6"></input>
          </div>

          <fieldset class="col-md-2">
            <label class="str-name">
              <span ng-hide="edit">Strings:</span>
              <span class="edit-input" ng-show="edit">EDIT!!!</span>
            </label><br>
            <label class="str-name">e: </label>
            <input type="text" ng-keypress='pressEnter($event)' class="string-input" ng-model="stringInput['eH']" maxlength="2"></input>
            <br>
            <label class="str-name">B: </label>
            <input type="text" ng-keypress='pressEnter($event)' class="string-input" ng-model="stringInput['b']" maxlength="2"></input>
            <br>
            <label class="str-name">G: </label>
            <input type="text" ng-keypress='pressEnter($event)' class="string-input" ng-model="stringInput['g']" maxlength="2"></input>
            <br>
            <label class="str-name">D: </label>
            <input type="text" ng-keypress='pressEnter($event)' class="string-input" ng-model="stringInput['d']" maxlength="2"></input>
            <br>
            <label class="str-name">A: </label>
            <input type="text" ng-keypress='pressEnter($event)' class="string-input" ng-model="stringInput['a']" maxlength="2"></input>
            <br>
            <label class="str-name">E: </label>
            <input type="text" ng-keypress='pressEnter($event)' class="string-input" ng-model="stringInput['eL']" maxlength="2"></input>
          </fieldset>

          <div class="tab-preview col-md-8">
            <fieldset id="buttons" class="col-md-7">
              <button id="add-tab"  ng-click="addTab('chord')">Add Tab!</button>
              <label>(Enter)</label>

              <button id="add-break" ng-click="addTab('break')">Add Break!</button>
              <input class="break-ct" min='0' max='30' type="number" value="2" ng-model="breakCt" maxlength="2">
              <label>Count</label>

              <button id="add-meas" ng-click="addTab('measure')">Add Measure!</button>
              <label>(Shift-M)</label>
              <li><button id="reset" ng-click="resetAll()">Reset!</button></li>
            </fieldset>
          </div>
        </div>

        <div class="tab-body">
          <ul id='base-notes'>
            <li class="note-stem">e|--</li>
            <li class="note-stem">B|--</li>
            <li class="note-stem">G|--</li>
            <li class="note-stem">D|--</li>
            <li class="note-stem">A|--</li>
            <li class="note-stem">E|--</li>
          </ul>

          <ul class="user-tab" ng-class="{editing: edit}" ng-repeat='tab in tabs'>
            <li class="tab-note" ng-click="noteEdit()">{{tab.name}}</li>
            <li class="tab-note" ng-click="noteEdit()">{{tab.eH}}</li>
            <li class="tab-note" ng-click="noteEdit()">{{tab.b}}</li>
            <li class="tab-note" ng-click="noteEdit()">{{tab.g}}</li>
            <li class="tab-note" ng-click="noteEdit()">{{tab.d}}</li>
            <li class="tab-note" ng-click="noteEdit()">{{tab.a}}</li>
            <li class="tab-note" ng-click="noteEdit()">{{tab.eL}}</li>
            <li class='note-delete' ng-click='deleteTab();' title="Delete Chord"></li>
            <li class='note-insert' ng-click='insertTab();' title="Insert Chord"></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</body>
</html>
