.search {
  height: 100%; }
  .search tr:nth-child(even) {
    background: #ddd; }
  .search tr:nth-child(odd) {
    background: #eee; }

.filtered-chords {
  height: 320px;
  overflow-y: scroll;
  margin-bottom: 20px; }
  .filtered-chords table {
    border-bottom: 1px solid gray; }
    .filtered-chords table tr:hover {
      background: red; }
    .filtered-chords table td {
      padding: 2px 8px !important; }
  .filtered-chords .chord {
    font-family: 'courier'; }

.input-buttons button {
  min-width: 100px; }
.input-buttons .break-ct input {
  width: 100px; }

.tab-body {
  min-width: 800px;
  min-height: 800px;
  border: 1px solid #000;
  padding: 20px; }
  .tab-body .edit-icons {
    position: absolute;
    top: 150px;
    left: -6px;
    text-align: center;
    list-style: none;
    padding: 0; }
  .tab-body .tab-notes .user-tab {
    display: inline-block;
    text-align: center;
    position: relative;
    font-family: 'courier';
    margin: 0;
    padding: 0;
    list-style: none;
    border: 1px solid transparent; }
    .tab-body .tab-notes .user-tab .editing {
      border: 1px solid #f00; }
    .tab-body .tab-notes .user-tab .cxl-edit {
      font-family: 'FontAwesome';
      position: absolute;
      color: #f00; }
      .tab-body .tab-notes .user-tab .cxl-edit:hover {
        color: #ba0000; }
      .tab-body .tab-notes .user-tab .cxl-edit:before {
        content: '\f040'; }
    .tab-body .tab-notes .user-tab:hover {
      position: relative;
      border: 1px solid #0f0; }
      .tab-body .tab-notes .user-tab:hover .edit-icons {
        position: absolute;
        display: inline-table;
        font-family: 'FontAwesome';
        background: #fff;
        border: 1px solid black;
        border-radius: 3px;
        padding: 3px 10px;
        font-size: 20px;
        list-style: none; }
        .tab-body .tab-notes .user-tab:hover .edit-icons li {
          display: inline; }
        .tab-body .tab-notes .user-tab:hover .edit-icons:after {
          content: " ";
          position: absolute;
          top: -17px;
          left: 1px;
          width: 0;
          height: 0;
          border: 8px solid transparent;
          border-bottom-color: #000; }
        .tab-body .tab-notes .user-tab:hover .edit-icons .note-insert {
          color: #25ed1e; }
          .tab-body .tab-notes .user-tab:hover .edit-icons .note-insert:hover {
            color: #00c605; }
          .tab-body .tab-notes .user-tab:hover .edit-icons .note-insert:active {
            color: #0f0; }
          .tab-body .tab-notes .user-tab:hover .edit-icons .note-insert:before {
            content: '\f067'; }
        .tab-body .tab-notes .user-tab:hover .edit-icons .note-edit {
          color: #177bff;
          padding: 0 10px; }
          .tab-body .tab-notes .user-tab:hover .edit-icons .note-edit:hover {
            color: #2831ff; }
          .tab-body .tab-notes .user-tab:hover .edit-icons .note-edit:before {
            content: '\f040'; }
        .tab-body .tab-notes .user-tab:hover .edit-icons .note-delete {
          color: #f00; }
          .tab-body .tab-notes .user-tab:hover .edit-icons .note-delete:hover {
            color: #ba0000; }
          .tab-body .tab-notes .user-tab:hover .edit-icons .note-delete:active {
            color: #000; }
          .tab-body .tab-notes .user-tab:hover .edit-icons .note-delete:before {
            content: '\f00d'; }
        .tab-body .tab-notes .user-tab:hover .edit-icons .note-measure-up {
          color: #000; }
          .tab-body .tab-notes .user-tab:hover .edit-icons .note-measure-up:hover {
            color: #ba0000; }
          .tab-body .tab-notes .user-tab:hover .edit-icons .note-measure-up:active {
            color: #000; }
          .tab-body .tab-notes .user-tab:hover .edit-icons .note-measure-up:before {
            content: '\f062'; }
        .tab-body .tab-notes .user-tab:hover .edit-icons .note-measure-down {
          color: #000; }
          .tab-body .tab-notes .user-tab:hover .edit-icons .note-measure-down:hover {
            color: #ba0000; }
          .tab-body .tab-notes .user-tab:hover .edit-icons .note-measure-down:active {
            color: #000; }
          .tab-body .tab-notes .user-tab:hover .edit-icons .note-measure-down:before {
            content: '\f063'; }
